/Student_Management_System/target/
/Student_Management_System_SQL_DATABASE/nbproject/private/
/Student_Management_System_SQL_DATABASE/build/
/Student_Management_System_SQL_DATABASE/dist/
/back_upp/nbproject/private/
/back_upp/build/
